html {
	cursor: url(./my-cursor.png), auto !important;
}

a {
	cursor: url("./my-cursor-2.png"), auto !important;
}

@keyframes bgcolor {
	0% {
		background-color: #757480;
	}

	30% {
		background-color: #807575;
	}

	60% {
		background-color: #b4a3a3;
	}

	90% {
		background-color: rgb(94, 85, 85);
	}

	100% {
		background-color: #d1b6b6;
	}
}

body {
	-webkit-animation: bgcolor 20s infinite;
	animation: bgcolor 40s infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
}
article {
	margin: 0%;
	padding: 0%;
}

.text {
	margin-top: 0%;
	margin-left: 2%;
	width: 25%;
	color: rgb(78, 78, 78);
}
.intro {
	text-align: left;
}
figure {
	width: 25%;
}

.gaps {
	position: absolute;
	left: 55%;
	width: 10%;
	top: 20%;
}

.projects {
	color: rgb(78, 78, 78);
}

h1 {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 2vw;
	line-height: 1.5vw;
}
@media (max-width: 600px) {
.text {
	margin-top: 0%;
	margin-left: 2%;
	width: 80%;
	color: rgb(78, 78, 78);
}